html{
  width: 100vw;
  height: 100vh;
  font-size: 30px;
  line-height: 1;
  background-color: #99A995;
  overflow-y: hidden;
}

body{
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

a:link{
  color: black;
}

a:visited{
  color: black;
}

a:hover{
  color: #FFB77E;
}

a.footer_link:hover{
  color: #99A995
}

hr{
  border: 1px solid black;
}

.nav_link{
  text-decoration: none;
}

.view_content{
  padding-top: 10%;
}


